<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header"></head>
<body>
<div th:replace="fragments :: navbar"></div>
<form th:action="@{/login}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container">
    <h1>Error occurred</h1>
    <p>
        An error has occurred. Please contact the administrator
    </p>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>