<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"/>
    <title>Todos</title>
</head>
<body>
<div class="container text-center">
    <h2>Spring Boot Crud System</h2>
    <a th:href="@{'/todos'}" class="btn btn-success">Back</a>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <form th:action="@{/todos/save}" method="post" th:object="${todo}">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Content" th:field="*{content}">
                    <span class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>