<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header"></head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container text-center">
    <h2>Spring Boot Crud System</h2>
    <a th:href="@{'/todos'}" class="btn btn-success">Back</a>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <form th:action="@{/todos/save}" method="post" th:object="${todo}">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Content" th:field="*{content}">
                    <span class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>